.chart {
  position: relative;
  background: white;
  width: 100%;
  height: 200px;
  border-bottom: 2px solid #ECEDF1;

  > div {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	border: none;
  }

  > table:nth-of-type(1) {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-collapse: collapse;
	font-size: 12px;
	z-index: 0;
	height: 100%;
	table-layout: fixed;

	> thead {
	  height: 20px;
	  td {
		border-bottom: 2px solid #ECEDF1;
		height: 30px;
		text-align: center;

		&:nth-of-type(1), &:nth-of-type(2n+1) {
		  border-bottom: 2px solid #A0AAAB;
		}
	  }
	}

	> tbody {
	  td {
		width: 100%;
		text-align: left;

		&:nth-of-type(1), &:nth-of-type(2n + 1) {
		  background: #ECEDF1;
		}
	  }

	  td[data-active="true"] {
		background: #ECEDF1 * 0.9;
	  }
	}
  }

  > table:nth-of-type(2) {
	background: transparent;
	z-index: 3;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-collapse: collapse;
	table-layout: fixed;

	td {
	  width: 100%;
	}
  }
}

.windChart {
  position: relative;
  background: white;
  width: 100%;
}

.infoTable {
  >ul {
	width: 50%;
	float: left;
	margin: 0;
	padding: 5px;
	li {
	  margin: 0;
	  padding: 0;
	}
  }

  > ul:nth-of-type(1) {
	flex: 1;
	list-style-type: none;

	> li {
	  font-size: 14px;
	  height: 25px;

	  span {
		font-size: 20px;
		padding-right: 5px;
	  }

	  &:nth-of-type(1) {
		> span {
		  color: #0B569A;
		}
	  }

	  &:nth-of-type(2) {
		> span {
		  color: #C10BEC;
		}
	  }
	}
  }

  > ul:nth-of-type(2) {
	flex: 1;
	list-style-type: none;

	span {
	  font-size: 20px;
	  padding-right: 5px;
	}

	> li {
	  font-size: 14px;
	  height: 25px;
	  &:nth-of-type(1) {
		> span {
		  color: #87CA2C;
		}
	  }

	  &:nth-of-type(2) {
		> span {
		  color: #F8B92C;
		}
	  }

	  &:nth-of-type(3) {
		> span {
		  color: #F26460;
		}
	  }
	}
  }
}
